@media screen and (max-width: 320px), (max-width: 480px), (max-width: 768px) {
    .container {
        max-width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }
    .title {
        font-size: 24px;
        line-height: 26px;
    }
    .button {
        padding: 26px 52px;
        font-size: 18px;
    }
    body {
        overflow-x: hidden;
    }
}
/* Header */
@media screen and (max-width: 320px), (max-width: 480px), (max-width: 768px) {
    .navigation {
        max-width: 90%;
    }
    .nav-item {
        display: none;
    }
    .nav-actions {
        margin-left: auto;
        margin-right: auto;
    }
    .button--nav {
        padding: 9px 18px;
    }
    .header-wrapper {
        background-size: initial;
    }
    .header-content {
        display: flex;
        flex-direction: column;
        max-width: 50%;
        margin-right: auto;
        margin-right: auto;
    }
    .header-article {
        max-width: 288px;
        margin-left: auto;
        margin-right: auto;
        font-size: 24px;
        line-height: 24px;
    }
    .header-img {
        max-width: 80%;
    }
}
/* Technologies  */
@media screen and (max-width: 320px), (max-width: 480px), (max-width: 768px) {
    .technologies img {
        display: none;
    }
    .technologies-content {
        display: flex;
        flex-wrap: wrap;
    }
    .technologies-wrapper {
        width: 100%;
    }
    .technologies--title {
        max-width: 209px;
        margin-right: auto;
        margin-left: auto;
    }
    .technologies-btn:nth-child(1) {
        width: 80%;
    }
    .technologies-btn:nth-child(2) {
        width: 30%;
    }
    .technologies-btn:nth-child(3) {
        width: 50%;
    }
    .technologies-btn:nth-child(4) {
        width: 80%;
    }
    .technologies-btn:nth-child(5) {
        width: 80%;
    }
    .technologies-btn:nth-child(6) {
        width: 40%;
    }
    .technologies-btn:nth-child(7) {
        width: 40%;
    }
    .technologies-subscription {
        display: none;
    }
}
/* Learning */
@media screen and (max-width: 320px), (max-width: 480px), (max-width: 768px) {
    .learning {
        max-width: 100%;
    }
    .learning--title {
        max-width: 283px;
        margin-left: auto;
        margin-right: auto;
    }
    .learning-cards,
    .learning-cards:last-child {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }
    .learning-cards:last-child .learning-card:nth-child(3) {
        width: 300px;
        height: 200px;
        margin-top: 10px;
        grid-column-start: 1;
        grid-column-end: 4 ;
    }
    .learning-card:nth-child(1),
    .learning-card:nth-child(2) {
        margin-bottom: 10px;
    }
    .card-title {
        font-size: 12px;
        line-height: 12px;
    }
    .card-text {
        font-size: 9px;
        line-height: 12px;
    }
}

@media screen and (max-width: 320px), (max-width: 480px), (max-width: 768px) {
    .process {
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .process--title {
        max-width: 213px;
        margin-left: auto;
        margin-right: auto;
    }
    .process-subscription {
        max-width: 276px;
    }
    .video img {
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}
@media screen and (max-width: 320px), (max-width: 480px), (max-width: 768px) {
    .process-cards {
        display: flex;
        flex-direction: column;
        max-width: 80%;
    }
    .process-card {
        padding: 36px 36px;
    }
    .process-card:first-child {
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        border-bottom-left-radius: 0px;
    }
    .process-card:last-child {
        border: none;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 30px;
        border-bottom-left-radius: 30px;
    }
    .process-card ul {
        padding-right: 0;
        padding-bottom: 19px;
        box-shadow: 0px 11px 0 -10px #eaf2f5;
    }
    .process-card-title {
        font-size: 20px;
        line-height: 19px;
    }
    .process-card-text {
        font-size: 12px;
        line-height: 14px;
    }
    .process-action {
        display: flex;
        flex-direction: column;
        max-width: 90%;
        border-radius: 30px;
    }
    .button-process {
        max-width: 100%;
    }
    .process-button-info {
        margin-top: 12px;
        max-width: 249px;
        font-size: 13px;
        line-height: 18px;
    }
}

@media screen and (max-width: 320px), (max-width: 480px), (max-width: 768px) {
    .support {
        max-width: 80%;
        padding: 11px 10px;
        margin-left: auto;
        margin-right: auto;
    }
    .support-content {
        display: flex;
        flex-wrap: wrap;
    }
    .support-content:last-child {
        display: flex;
        flex-wrap: wrap-reverse;
    }
    .support-text {
        max-width: 300px;
        padding: 20px 37px;
    }
    .support-content:last-child .support-text {
        padding: 20px 37px;
        margin-top: 0;
    }
    .support-img {
        max-width: 300px;
    }
    .support-img {
        margin-bottom: 12px;
    }
    .support-img:last-child {
        margin-top: 12px;
        margin-bottom: 12px;
        margin-left: 0;
    }
    .support-title {
        font-size: 20px;
        line-height: 19px;
    }
    .support-subscription {
        width: 257px;
        font-size: 12px;
        line-height: 17px;
    }
}
/* Price */
@media screen and (max-width: 320px), (max-width: 480px), (max-width: 768px) {
    .price-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .price-text {
        display: flex;
        flex-direction: column;
        margin-bottom: 26px;
    }
    .price-text:last-child {
        margin-bottom: 0;
    }
    .price-text img {
        margin-bottom: 12px;
    }
    .price-learn {
        display: flex;
        flex-wrap: wrap;
        padding: 25px 40px;
    }
    .button--price {
        margin-top: 17px;
        width: 100%;
        font-size: 15px;
    }
}
/* Footer */
@media screen and (max-width: 320px), (max-width: 480px), (max-width: 768px) {
    .footer-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .footer-info {
        display: flex;
        flex-direction: column;
    }
    .social {
        margin-bottom: 43px;
    }
    .rights,
    .footer-right-rightside {
        display: flex;
        flex-direction: column;
    }
    .footer-rights:nth-child(1) {
        margin-right: 0;
    }
    .footer-right {
        margin-top: 23px;
        margin-bottom: 13px;
    }
    .footer-rights {
        margin-bottom: 0;
        color: #f15525;
    }
}
