* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: "Gilroy";
    src: local("Gilroy Semibold"), local("Gilroy-Semibold"), url(/fonts/Gilroy-Regular.woff2) format("woff2"),
        url(/fonts/Gilroy-Regular.woff) format("woff"), url(/fonts/Gilroy-Semibold.ttf) format("truetype");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: "Gilroy";
    src: local("Gilroy Regular"), local("Gilroy-Regular"), url(/fonts/Gilroy-Regular.woff2) format("woff2"),
        url(/fonts/Gilroy-Regular.woff) format("woff"), url(/fonts/Gilroy-Semibold.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "GilroySemiBoldItalic";
    src: url("//fonts/GilroySemiBoldItalic/GilroySemiBoldItalic.eot");
    src: url("../fonts/GilroySemiBoldItalic/GilroySemiBoldItalic.eot?#iefix") format("embedded-opentype"),
        url("../fonts/GilroySemiBoldItalic/GilroySemiBoldItalic.woff") format("woff"),
        url("../fonts/GilroySemiBoldItalic/GilroySemiBoldItalic.ttf") format("truetype");
    font-style: italic;
    font-weight: normal;
}

html {
    font-family: "Gilroy", sans-serif;
}
.container {
    max-width: 1160px;
    margin-left: auto;
    margin-right: auto;
}
.body {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #22253b;
}
@media screen and (max-width: 1024px) {
    .container {
        max-width: 100%;
        margin-right: auto;
        margin-left: auto;
        padding-left: 10px;
        padding-right: 10px;
    }
}
.wrapper {
    background-color: #f9f8fd;
}
.button {
    display: inline-flex;
    align-items: center;
    font-weight: normal;
    font-size: 20px;
    line-height: 96.69%;
    text-decoration: none;
    color: #ffffff;
    background: #f15525;
    border-radius: 82px;
    padding: 12px 18px;
    border: none;
    cursor: pointer;
}
@media screen and (max-width: 1024px) {
    .button {
        font-size: 14px;
        line-height: 13px;
        padding: 15px 30px;
    }
}

.button--main::after,
.button-process::after,
.button--price::after {
    content: url(/img/arrow-white.svg);
    margin-left: 12.86px;
}
.button:hover {
    background-color: #38bff2;
    transition: background-color 0.3s;
}
.title {
    font-style: normal;
    font-weight: 600;
    font-size: 46px;
    line-height: 46px;
    text-align: center;
    color: #22253b;
}
@media screen and (max-width: 1024px) {
    .title {
        font-size: 30px;
        line-height: 30px;
    }
}

/* Header */

.navigation {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    border-radius: 75px;
    padding: 16px 10px 10px 20px;
    margin-top: 10px;
    width: 1160px;
}
@media screen and (max-width: 1024px) {
    .navigation {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }
}
.nav-items {
    display: flex;
    align-items: center;
}
.nav-item {
    display: flex;
    justify-content: space-evenly;
    text-align: left;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 104.4%;
    color: #22253b;
    text-decoration: none;
    margin-right: 41px;
}
@media screen and (max-width: 1024px) {
    .nav-item {
        font-size: 10px;
    }
}
@media screen and (max-width: 767.9px) {
    .nav-items {
        display: none;
    }
}
.nav-item:last-child {
    margin-right: 0;
}
.nav-item:hover {
    color: #f15525;
    transition: ease-in-out 0.3s;
}
.nav-sign-in {
    display: flex;
    align-items: center;
}
.sign-in {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 104.4%;
    color: #22253b;
    text-decoration: none;
    margin-right: 41px;
}
.sign-in:hover {
    color: #f15525;
    transition: ease-in-out 0.3s;
}
@media screen and (max-width: 1024px) {
    .sign-in {
        font-size: 10px;
    }
}
@media screen and (max-width: 767.9px) {
    .sign-in {
        display: none;
    }
}
.button--nav {
    margin-right: 10.9px;
    background: #38bff2;
    border-radius: 34px;
    padding: 8.87px 16.46px;
}
.button--nav::before {
    content: url(/img/arrow-nav.svg);
    margin-bottom: 4px;
    margin-right: 4px;
}
.button--nav:hover {
    background: #f15525;
}
@media screen and (max-width: 1024px) {
    .button--nav {
        padding: 8px 14px;
    }
}
@media screen and (max-width: 767.9px) {
    .button--nav {
        padding: 8.87px 16.46px;
    }
}
.burger-menu {
    display: none;
}
@media screen and (max-width: 767.9px) {
    .burger-menu {
        display: block;
    }
}
#menu__toggle {
    opacity: 0;
}
.menu__btn {
    display: flex;
    align-items: center;
    position: relative;
    right: 20px;
    bottom: 10px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    z-index: 1;
}
.menu__btn span,
.menu__btn span::before,
.menu__btn span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #f15525;
    border-radius: 21px;
}
.menu__btn span::before {
    content: "";
    top: -5px;
}
.menu__btn span::after {
    content: "";
    top: 5px;
}
.menu__box {
    display: block;
    position: fixed;
    overflow: hidden;
    visibility: hidden;
    top: 0;
    width: 50%;
    height: 90%;
    margin: 0;
    padding: 53px 32px;
    list-style: none;
    text-align: center;
    background: #ffffff;
    border-radius: 20px;
    text-align: left;
}
.menu__item {
    display: block;
    padding: 10px 0px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    color: #22253b;
    text-decoration: none;
}
.menu__item:hover {
    color: #f15525;
}
.menu__item-btn {
    font-weight: normal;
    font-size: 15px;
    line-height: 96.69%;
    text-decoration: none;
    color: #ffffff;
    background: #38bff2;
    border-radius: 82px;
    padding: 12px 18px;
    border: none;
    cursor: pointer;
}
.menu__item-btn::before {
    content: url(/img/arrow-burger.svg);
    margin-right: 9.36px;
}
.item-btn {
    position: relative;
    top: 50%;
}
#menu__toggle:checked ~ .menu__btn span {
    transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn span::before {
    top: 0;
    transform: rotate(0);
    background-color: #bcbcbc;
}
#menu__toggle:checked ~ .menu__btn span::after {
    top: 0;
    transform: rotate(90deg);
    background-color: #bcbcbc;
}
#menu__toggle:checked ~ .menu__box {
    visibility: visible;
    right: 0;
}
/* @media screen and (max-width: 767.9px) {
    .burger-menu {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background-size: contain;
        background-image: url(/img/burger.png);
        background-color: transparent;
        background-repeat: no-repeat;
        width: 20px;
        height: 20px;
        margin-right: 12px;
        border: none;
    }
} */

/* Main */
.main-wrapper {
    padding-top: 12px;
    padding-bottom: 66px;
    background-image: url(/img/head-bg.png);
    background-position-x: 60%;
    background-repeat: no-repeat;
    background-size: cover 10%;
}
@media screen and (max-width: 1024px) {
    .main-wrapper {
        max-width: 100%;
        padding-top: 8px;
        padding-bottom: 40px;
    }
}
@media screen and (max-width: 767.9px) {
    .main-wrapper {
        padding-top: 8px;
        padding-bottom: 40px;
        background-size: cover;
        background-position-x: initial;
    }
}
.main-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 110px;
}
@media screen and (max-width: 1024px) {
    .main-content {
        max-width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
@media screen and (max-width: 767.9px) {
    .main-content {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
    }
}
.main-info {
    max-width: 638px;
}
@media screen and (max-width: 1024px) {
    .main-info {
        max-width: 40%;
        margin-left: 100px;
    }
}
@media screen and (max-width: 767.9px) {
    .main-info {
        max-width: 100%;
        text-align: center;
        margin-left: 0;
    }
}
.main-title {
    font-weight: 500;
    font-size: 46px;
    line-height: 46px;
    margin-bottom: 31px;
}
@media screen and (max-width: 1024px) {
    .main-title {
        font-size: 36px;
        line-height: 36px;
        margin-bottom: 25px;
    }
}
@media screen and (max-width: 820px) {
    .main-title {
        font-size: 21px;
        line-height: 26px;
        margin-bottom: 15px;
    }
}
@media screen and (max-width: 767.9px) {
    .main-title {
        margin-left: auto;
        margin-right: auto;
        font-weight: 500;
        font-size: 40px;
        line-height: 40px;
        text-align: center;
    }
}
@media screen and (max-width: 414px) {
    .main-title {
        font-size: 32px;
        line-height: 40px;
        white-space: pre-line;
    }
}
.span-prog {
    font-weight: 600;
    font-style: italic;
}
@media screen and (max-width: 414px) {
    .span-prog {
        font-size: 33px;
        line-height: 40px;
    }
}
.quotes {
    font-family: "Manrope";
    color: #f15525;
    text-align: center;
    font-weight: 500;
}
@media screen and (max-width: 414px) {
    .quotes {
        font-family: "Manrope";
        color: #f15525;
        text-align: center;
        font-weight: 500;
        font-size: 35px;
    }
}
.main-subscription {
    max-width: 365px;
    margin-bottom: 18.47px;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    padding-top: 14.53px;
    border-top: 1px solid #dedede;
}
@media screen and (max-width: 820px) {
    .main-subscription {
        font-size: 15px;
        line-height: 18px;
    }
}
@media screen and (max-width: 767.9px) {
    .main-subscription {
        font-size: 16px;
        line-height: 23px;
        margin-left: auto;
        margin-right: auto;
    }
}
@media screen and (max-width: 414px) {
    .main-subscription {
        font-size: 15px;
        line-height: 20px;
    }
}
@media screen and (max-width: 1024px) {
    .main-img {
        width: 40%;
    }
}
@media screen and (max-width: 767.9px) {
    .main-img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 63px;
    }
}
.button--main {
    padding: 28px 50px;
}
@media screen and (max-width: 820px) {
    .button--main {
        padding: 18px 20px;
    }
}
@media screen and (max-width: 767.9px) {
    .button--main {
        padding: 30px 50px;
        font-size: 18px;
    }
}

/* Technologies  */
.tech-learn-wrapper {
    background-color: #ffffff;
    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 80px;
    padding-top: 70px;
    padding-bottom: 87.5px;
}
@media screen and (max-width: 820px) {
    .tech-learn-wrapper {
        padding-top: 10px;
    }
}
@media screen and (max-width: 414px) {
    .tech-learn-wrapper {
        padding-top: 10px;
        padding-bottom: 12px;
        border-radius: 30px;
    }
}
.technologies {
    margin-top: 53px;
}
.technologies img {
    display: block;
    margin-left: 127px;
    margin-right: 59px;
    margin-top: 42px;
    max-width: 447px;
}
@media screen and (max-width: 1024px) {
    .technologies img {
        width: 300px;
        margin-right: 0;
    }
}
@media screen and (max-width: 767.9px) {
    .technologies img {
        display: none;
    }
}
.technologies--title {
    text-align: center;
    margin-bottom: 35px;
}
@media screen and (max-width: 1024px) {
    .technologies--title {
        text-align: center;
        margin-bottom: 35px;
    }
}
.technologies-wrapper {
    background: #eaf2f5;
    border-radius: 48px;
    display: flex;
    align-items: center;
    margin-bottom: 84px;
}

.technologies-content {
    display: flex;
    flex-wrap: wrap;
    max-width: 466px;
    width: 100%;
}
@media screen and (max-width: 767.9px) {
    .technologies-content {
        padding: 17px 17px;
        max-width: 100%;
    }
}
.technologies-btn {
    padding: 6px 26px;
    background: #5096ff;
    color: #ffffff;
    text-align: center;
    border-radius: 44px;
    border: none;
    margin-bottom: 10px;
    margin-right: 10px;
    font-weight: 400;
    font-size: 17px;
    line-height: 46px;
}
@media screen and (max-width: 767.9px) {
    .technologies-btn {
        font-size: 14px;
    }
}
@media screen and (max-width: 350px) {
    .technologies-btn {
        font-size: 13px;
    }
}
.technologies-btn:first-child {
    max-width: 311px;
}
@media screen and (max-width: 767.9px) {
    .technologies-btn:first-child {
        width: 100%;
        max-width: 100%;
    }
}
.technologies-btn:nth-child(2) {
    background: #ffb359;
}
@media screen and (max-width: 767.9px) {
    .technologies-btn:nth-child(2) {
        width: calc(50% - 10px);
    }
}
.technologies-btn:nth-child(3) {
    background: #ff6f50;
}
@media screen and (max-width: 767.9px) {
    .technologies-btn:nth-child(3) {
        width: calc(50% - 10px);
    }
}
.technologies-btn:nth-child(4) {
    background: #4bd071;
}
@media screen and (max-width: 767.9px) {
    .technologies-btn:nth-child(4) {
        width: 100%;
    }
}
.technologies-btn:nth-child(5) {
    background: #50c0ff;
}
@media screen and (max-width: 767.9px) {
    .technologies-btn:nth-child(5) {
        width: 100%;
    }
}
.technologies-btn:nth-child(6) {
    background: #4b77b9;
}
@media screen and (max-width: 767.9px) {
    .technologies-btn:nth-child(6) {
        width: calc(50% - 10px);
    }
}
.technologies-btn:nth-child(7) {
    background: #af93ff;
}
@media screen and (max-width: 767.9px) {
    .technologies-btn:nth-child(7) {
        width: calc(50% - 10px);
    }
}
.technologies-subscription {
    margin-top: 15px;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
}
@media screen and (max-width: 767.9px) {
    .technologies-subscription {
        display: none;
    }
}
/* Learning */
.learning {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    padding: 87px 0;
}
.learning--title {
    max-width: 598px;
    margin-bottom: 34px;
    margin-left: auto;
    margin-right: auto;
}
.learning-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -13.5px;
}
.card {
    width: 270px;
    max-width: 100%;
    background: #eaf2f5;
    border-radius: 30px;
    padding: 50px 35px 31px;
    box-sizing: border-box;
    margin: 13.5px;
    text-align: center;
}

@media screen and (max-width: 850px) {
    .card:last-child {
        width: 65%;
    }
}

.card-icon {
    max-width: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 60px;
    height: 60px;
    object-fit: contain;
    margin-bottom: 18px;
}
.card-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    margin-bottom: 10px;
}
.card__title--long {
    max-width: 100%;
}
.card-subscription {
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
}

/* Process */
.process-wrapper {
    background-image: url(/img/bg-process-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 70%;
    padding-top: 55px;
    padding-bottom: 90px;
}
@media screen and (max-width: 1024px) {
    .process-wrapper {
        padding-bottom: 30px;
    }
}
.process {
    margin-left: auto;
    margin-right: auto;
    max-width: 933px;
}
.process--title {
    margin-bottom: 26px;
}
.process-subscription {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 29px;
    text-align: center;
    max-width: 642px;
    margin-left: auto;
    margin-right: auto;
}
.video {
    box-shadow: rgba(25, 26, 38, 0.38);
    margin-bottom: 29px;
    max-width: 762px;
    margin-right: auto;
    margin-left: auto;
}
@media screen and (max-width: 767.9px) {
    .video img {
        max-width: 700px;
    }
}
@media screen and (max-width: 767.9px) {
    .video img {
        display: block;
        margin-right: auto;
        margin-left: auto;
        max-width: 90%;
    }
}
.process-cards {
    display: flex;
    justify-content: center;
    box-shadow: 0px 81px 120px -77px rgba(34, 37, 59, 0.04);
    margin-bottom: 26px;
}
@media screen and (max-width: 767.9px) {
    .process-cards {
        display: block;
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}
@media screen and (max-width: 1024px) {
    .process-card {
        padding: 26px 10px;
    }
}
.process-card {
    background-color: #ffffff;
    padding: 56px 30px;
}

.process-card:first-child {
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
}
@media screen and (max-width: 767.9px) {
    .process-card:first-child {
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
        border-bottom-left-radius: 0;
    }
}
.process-card:last-child {
    border: none;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
}
@media screen and (max-width: 767.9px) {
    .process-card:last-child {
        border-top-right-radius: 0;
        border-bottom-right-radius: 40px;
        border-bottom-left-radius: 40px;
    }
}
.process-card ul {
    list-style-type: none;
    padding-right: 50px;
    box-shadow: 11px 0 0 -10px #eaf2f5;
}
@media screen and (max-width: 820px) {
    .process-card ul {
        padding-right: 0;
        box-shadow: 11px 0 0 -10px #eaf2f5;
    }
}
@media screen and (max-width: 767.9px) {
    .process-card ul {
        padding-right: 0;
        box-shadow: 0 11px 0 -10px #eaf2f5;
        padding-bottom: 50px;
    }
}
.process-card:nth-child(3) ul {
    box-shadow: none;
    padding-right: 0;
}
.process-card-number {
    font-size: 77px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #38bff2;
    margin-bottom: 20px;
}
@media screen and (max-width: 1024px) {
    .process-card-number {
        font-size: 60px;
    }
}
@media screen and (max-width: 820px) {
    .process-card-number {
        font-size: 50px;
    }
}
@media screen and (max-width: 767.9px) {
    .process-card-number {
        font-weight: 700;
        font-size: 70px;
        line-height: 40px;
    }
}
.process-card-title {
    margin-bottom: 19px;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
}
@media screen and (max-width: 1024px) {
    .process-card-title {
        font-size: 20px;
        line-height: 20px;
    }
}
@media screen and (max-width: 767.9px) {
    .process-card-title {
        font-weight: 600;
        font-size: 30px;
        line-height: 30px;
    }
}
.process-card-text {
    font-size: 16px;
    line-height: 23px;
    width: 282px;
}
@media screen and (max-width: 1024px) {
    .process-card-text {
        width: 200px;
    }
}
@media screen and (max-width: 767.9px) {
    .process-card-text {
        width: 90%;
        font-size: 20px;
    }
}
.process-action {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 110px;
    max-width: 538px;
    background-color: #ffffff;
    padding: 12px 14px;
}
@media screen and (max-width: 1024px) {
    .process-action {
        max-width: 80%;
    }
}
@media screen and (max-width: 767.9px) {
    .process-action {
        max-width: 1000px;
        display: flex;
        flex-direction: column;
        margin-bottom: 62px;
    }
}
.button-process {
    padding: 25px 27px;
}
@media screen and (max-width: 820px) {
    .button-process {
        padding: 18px 20px;
    }
}
@media screen and (max-width: 767.9px) {
    .button-process {
        padding: 40px 180px;
        font-size: 22px;
        line-height: 20px;
    }
}
@media screen and (max-width: 605px) {
    .button-process {
        padding: 40px 180px;
        font-size: 20px;
        line-height: 20px;
    }
}
@media screen and (max-width: 571px) {
    .button-process {
        padding: 25px 120px;
        font-size: 16px;
        line-height: 20px;
    }
}
@media screen and (max-width: 414px) {
    .button-process {
        padding: 29px 90px;
        font-size: 16px;
        line-height: 96.69%;
        letter-spacing: -0.03em;
    }
}
.process-button-info {
    font-family: "Manrope";
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    max-width: 214px;
    margin-right: auto;
    margin-left: auto;
}
@media screen and (max-width: 767.9px) {
    .process-button-info {
        margin-top: 12px;
        font-size: 23px;
        line-height: 23px;
        max-width: 600px;
        text-align: center;
    }
}
@media screen and (max-width: 571px) {
    .process-button-info {
        max-width: 100%;
        font-size: 16px;
        line-height: 18px;
    }
}
/* Support */
.support-wrapper {
    background-color: #f9f8fd;
}
.support {
    background: #ffffff;
    border-radius: 80px;
    padding: 90px 120px;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}
@media screen and (max-width: 1024px) {
    .support {
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}
@media screen and (max-width: 600px) {
    .support {
        padding: 15px 15px;
    }
}
.support-content {
    display: inline-flex;
}
@media screen and (max-width: 767.9px) {
    .support-content {
        display: flex;
        flex-direction: column;
    }
}
@media screen and (max-width: 767.9px) {
    .support-content:last-child {
        display: flex;
        flex-direction: column-reverse;
    }
}
.support-text {
    max-width: 730px;
    background-color: #eaf2f5;
    padding: 55px 80px;
    border-radius: 40px;
}
@media screen and (max-width: 1024px) {
    .support-text {
        padding: 50px 60px;
    }
}
@media screen and (max-width: 820px) {
    .support-text {
        padding: 40px 10px;
    }
}
@media screen and (max-width: 767.9px) {
    .support-text {
        padding: 95px 34px;
        margin-bottom: 0;
    }
}
.support-text:nth-child(2) .support-subscription:nth-child(2) {
    margin-bottom: 20px;
}
.support-content:last-child .support-text {
    margin-top: 30px;
    padding: 80px 80px;
}
@media screen and (max-width: 1024px) {
    .support-content:last-child .support-text {
        padding: 60px 60px;
    }
}
@media screen and (max-width: 820px) {
    .support-content:last-child .support-text {
        padding: 50px 15px;
    }
}
@media screen and (max-width: 767.9px) {
    .support-content:last-child .support-text {
        padding: 95px 34px;
    }
}

.support-title {
    font-weight: 600;
    font-size: 32px;
    line-height: 30px;
    margin-bottom: 18px;
}
@media screen and (max-width: 1024px) {
    .support-title {
        font-weight: 600;
        font-size: 22px;
        line-height: 24px;
        margin-bottom: 18px;
    }
}
@media screen and (max-width: 767.9px) {
    .support-title {
        font-weight: 600;
        font-size: 32px;
        line-height: 30px;
        margin-bottom: 18px;
    }
}

.support-subscription {
    max-width: 730px;
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    font-style: normal;
}
@media screen and (max-width: 1024px) {
    .support-subscription {
        max-width: 300px;
        font-size: 15px;
        line-height: 15px;
    }
}
@media screen and (max-width: 820px) {
    .support-subscription {
        max-width: 300px;
        font-size: 13px;
        line-height: 15px;
    }
}
@media screen and (max-width: 767.9px) {
    .support-subscription {
        max-width: 500px;
        font-size: 18px;
        line-height: 25px;
    }
}
.support-img:first-child {
    padding: 41px 65px;
    background-color: #eaf2f5;
    border-radius: 40px;
    margin-right: 30px;
}
@media screen and (max-width: 1024px) {
    .support-img:first-child {
        max-width: 300px;
        max-height: 300px;
        padding: 31px 25px;
    }
}
@media screen and (max-width: 767.9px) {
    .support-img:first-child {
        width: 500px;
        max-width: 100%;
        max-height: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 600px) {
    .support-img:first-child {
        width: 600px;
        max-width: 100%;
        max-height: 100%;
    }
}

.support-img:last-child {
    margin-top: 30px;
    margin-right: 0;
    margin-left: 30px;
    padding: 41px 65px;
    background-color: #eaf2f5;
    border-radius: 40px;
}
@media screen and (max-width: 1024px) {
    .support-img:last-child {
        max-width: 300px;
        max-height: 300px;
        padding: 30px 25px;
    }
}
@media screen and (max-width: 767.9px) {
    .support-img:last-child {
        width: 500px;
        max-width: 100%;
        max-height: 100%;
        padding: 31px 25px;
        margin-left: auto;
        margin-right: auto;
    }
}
@media screen and (max-width: 600px) {
    .support-img:last-child {
        width: 600px;
        max-width: 100%;
        max-height: 100%;
    }
}
/* Price */
.price-wrapper {
    background-color: #f9f8fd;
    padding-top: 90px;
}
.price--title {
    margin-bottom: 35px;
}
.price-content {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    max-width: 1160px;
}

@media screen and (max-width: 767.9px) {
    .price-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
.price-text {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 69px;
}
@media screen and (max-width: 1300px) {
    .price-text {
        margin-left: auto;
        margin-right: auto;
        max-width: 30%;
    }
}
@media screen and (max-width: 767.9px) {
    .price-text {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
.price-text:nth-child(2) .price-subscription {
    width: 247px;
}
@media screen and (max-width: 820px) {
    .price-text:nth-child(2) .price-subscription {
        width: 160px;
    }
}
@media screen and (max-width: 767.9px) {
    .price-text:nth-child(2) .price-subscription {
        width: 400px;
    }
}
@media screen and (max-width: 767.9px) {
    .price-text:nth-child(2) {
        margin-top: 21px;
        margin-bottom: 21px;
    }
}
.price-text img {
    margin-right: 29px;
}
@media screen and (max-width: 767.9px) {
    .price-text img {
        width: 90px;
        margin-bottom: 10px;
    }
}
@media screen and (max-width: 571px) {
    .price-text img {
        width: 55px;
        margin-left: auto;
        margin-right: auto;
    }
}
.price-text img:last-child {
    margin-right: 0;
}
.price-subscription {
    width: 300px;
    font-size: 16px;
    line-height: 21px;
}
@media screen and (max-width: 1024px) {
    .price-subscription {
        font-size: 14px;
        line-height: 16px;
        width: 200px;
    }
}
@media screen and (max-width: 912px) {
    .price-subscription {
        width: 150px;
    }
}
@media screen and (max-width: 767.9px) {
    .price-subscription {
        font-size: 16px;
        line-height: 21px;
        width: 500px;
    }
}
@media screen and (max-width: 571px) {
    .price-subscription {
        max-width: 280px;
        text-align: center;
    }
}
.table-title {
    font-weight: bold;
    font-size: 16px;
    line-height: 25px;
    color: #38bff2;
}
table {
    width: 1160px;
    border-radius: 30px;
    overflow: hidden;
    border-spacing: 0;
}
@media screen and (max-width: 1024px) {
    table {
        width: 90%;
    }
}
@media screen and (max-width: 767.9px) {
    table {
        width: 1160px;
        overflow-x: auto;
    }
    .table-form {
        overflow-x: auto;
    }
}
.table-price {
    background-color: #ffffff;
    border: 30px solid #ffffff;
    margin-right: auto;
    margin-left: auto;
    margin-top: 41px;
}
.table-price td,
.table-price th {
    padding: 10px;
}
.table-price th {
    text-align: left;
    font-size: 20px;
    line-height: 25px;
}
.table-price tr:nth-child(2n) {
    background: #f3f3f3;
}
.table-price td:last-of-type {
    text-align: center;
}
tr:last-child {
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
}
.table-form p {
    font-size: 16px;
    line-height: 25px;
    color: #8e8e8e;
    margin-top: 25px;
    margin-bottom: 33px;
    margin-left: 50px;
}
.price-learn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eaf2f5;
    border-radius: 30px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1160px;
    padding: 54px 65px;
}
@media screen and (max-width: 1024px) {
    .price-learn {
        max-width: 90%;
    }
}
@media screen and (max-width: 767.9px) {
    .price-learn {
        display: flex;
        flex-direction: column;
    }
}
.price-learn img {
    margin-right: 30px;
}
@media screen and (max-width: 767.9px) {
    .price-learn img {
        margin-right: 0;
        margin-bottom: 17px;
    }
}
.price-learn-text {
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    max-width: 600px;
    margin-right: 23px;
}
@media screen and (max-width: 1024px) {
    .price-learn-text {
        max-width: 400px;
        margin-right: 23px;
        font-size: 15px;
        line-height: 20px;
    }
}
@media screen and (max-width: 820px) {
    .price-learn-text {
        max-width: 270px;
    }
}
@media screen and (max-width: 767.9px) {
    .price-learn-text {
        max-width: 100%;
        margin-bottom: 17px;
        text-align: center;
    }
}
.button--price {
    padding: 25px 47px;
    width: 311px;
}
@media screen and (max-width: 1024px) {
    .button--price {
        font-size: 13px;
        line-height: 13px;
        padding: 15px 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
@media screen and (max-width: 820px) {
    .button--price {
        padding: 18px 20px;
    }
}
@media screen and (max-width: 767.9px) {
    .button--price {
        max-width: 100%;
    }
}
@media screen and (max-width: 768px) {
    .button--price {
        padding: 20px 70px;
        font-size: 13px;
        text-align: center;
    }
}
@media screen and (max-width: 414px) {
    .button--price {
        padding: 29px 90px;
        font-size: 15px;
        line-height: 96.69%;
        letter-spacing: -0.03em;
        white-space: pre;
    }
}
/* Footer */
.footer-wrapper {
    display: flex;
    justify-content: space-between;
    text-align: left;
    padding-top: 63px;
    margin-left: auto;
    margin-right: auto;
}
@media screen and (max-width: 1024px) {
    .footer-wrapper {
        max-width: 90%;
    }
}
@media screen and (max-width: 767.9px) {
    .footer-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
.footer-name {
    display: inline-flex;
    margin-bottom: 40px;
}
@media screen and (max-width: 767.9px) {
    .footer-name {
        margin-bottom: 20px;
    }
}
.footer-text {
    font-size: 16px;
    line-height: 19px;
    color: #8e8e8e;
    width: 151px;
}
@media screen and (max-width: 767.9px) {
    .footer-text {
        font-size: 20px;
        line-height: 19px;
        color: #8e8e8e;
        width: 151px;
    }
}
.footer-logo {
    margin-right: 18.84px;
}
@media screen and (max-width: 767.9px) {
    .footer-logo {
        width: 100px;
    }
}
.social {
    display: flex;
}
@media screen and (max-width: 767.9px) {
    .social {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.social-link {
    border-radius: 50%;
    background-color: #22253b;
    width: 35px;
    height: 35px;
    text-align: center;
    margin-right: 16px;
}
.social-link:last-child {
    margin-right: 0;
}
.social-link:hover {
    background: #f15525;
    transition: ease-in-out 0.3s;
}
.social-link img {
    margin-top: 8px;
}
.social-link:nth-child(2) img {
    margin-top: 12px;
}
.social-link:nth-child(3) img {
    margin-top: 9px;
}
.social-link:nth-child(4) img {
    margin-top: 10px;
}
.footer-info {
    display: inline-flex;
}
@media screen and (max-width: 767.9px) {
    .footer-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
.footer-links {
    display: flex;
    flex-direction: column;
    margin-right: 166px;
}
@media screen and (max-width: 767.9px) {
    .footer-links {
        margin-right: 0;
        text-align: center;
        margin-top: 43px;
        margin-bottom: 43px;
    }
}
.footer-link {
    font-size: 13px;
    line-height: 104.4%;
    text-decoration: none;
    color: #22253b;
    margin-bottom: 25px;
}
@media screen and (max-width: 767.9px) {
    .footer-link {
        font-size: 18px;
        line-height: 104.4%;
    }
}
.footer-link:hover {
    color: #f15525;
    transition: ease-in-out 0.3s;
}
.footer-link:last-child {
    margin-bottom: 0;
}
.footer-contact {
    display: flex;
    flex-direction: column;
    margin-bottom: 26px;
}
.footer-contact a:first-child {
    color: #38bff2;
    font-size: 16px;
    line-height: 23px;
    text-decoration: none;
    margin-bottom: 4px;
}
@media screen and (max-width: 767.9px) {
    .footer-contact a:first-child {
        font-size: 20px;
        line-height: 23px;
        text-align: center;
    }
}
.footer-contact a:nth-child(2) {
    font-size: 16px;
    line-height: 23px;
    color: #22253b;
    text-decoration: none;
    margin-bottom: 53px;
}
@media screen and (max-width: 767.9px) {
    .footer-contact a:nth-child(2) {
        font-size: 20px;
        line-height: 23px;
        text-align: center;
    }
}
.footer-adress {
    font-size: 13px;
    line-height: 23px;
    color: #8e8e8e;
}
@media screen and (max-width: 767.9px) {
    .footer-adress {
        font-size: 18px;
        text-align: center;
    }
}
.rights {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1160px;
    border-top: 1px solid #d8d8d8;
}
@media screen and (max-width: 1024px) {
    .rights {
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}
@media screen and (max-width: 767.9px) {
    .rights {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
.footer-right {
    margin-top: 28px;
    margin-bottom: 32px;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #8e8e8e;
}
@media screen and (max-width: 767.9px) {
    .footer-right {
        margin-top: 23px;
    }
}
.footer-rights {
    margin-top: 28px;
    margin-bottom: 32px;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #8e8e8e;
}
.footer-rights:first-child {
    margin-right: 64px;
}
@media screen and (max-width: 767.9px) {
    .footer-rights:first-child {
        margin-right: 0;
        margin-bottom: 10px;
        color: #f15525;
    }
}
@media screen and (max-width: 767.9px) {
    .footer-rights:last-child {
        margin-top: 0;
        color: #f15525;
    }
}
.footer-right-rightside {
    display: flex;
}
@media screen and (max-width: 767.9px) {
    .footer-right-rightside {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
